.task {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  box-sizing: border-box;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  transition: all 250ms;
}
.task:hover {
  box-shadow: none;
}
.task[aria-selected="true"] {
  background-color: var(--selected-color);
}
