.container {
  display: flex;
  flex-direction: column;
  padding: 0rem 0;
  justify-content: center;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.title_container {
  text-align: center;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.cards_container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: calc(100% - 2rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--items-container);
  border-radius: var(--border-radius);
  box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
