.container {
  position: absolute;
  left: 27%;
  bottom: 0;
  margin: 0.5rem;
  padding: 3px;
}
.container p {
  color:white;
}

@media (max-width: 35em) {
  .container p {
    font-size: 1.5rem;
  }
}
