.quiz_items {
  display: grid;
  gap: 0.5rem;
  margin-bottom: clamp(2rem, 5%, 5rem);
  position: relative;
  width: 95%;
  padding: 0.5rem 0;
  background-color: var(--items-container);
  border-radius: var(--border-radius);
  box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.quiz_cols {
  display: grid;
  grid-template-columns: 30% 18% 15% 20% 15%;
  align-items: center;
  margin: auto;
  width: 95%;
  padding: 0.5rem;
  background-color: var(--selected-color);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

.quiz_col_names {
}

@media (max-width: 50em) {
  .quiz_cols {
    grid-template-columns: 30% 18% 25% 15%;
  }
  .num_quest {
    display: none;
  }
}
@media (max-width: 30em) {
  .quiz_cols {
    grid-template-columns: 30% 35% 15%;
  }
  .quiz_cols .module {
    display: none;
  }
}
