.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  position: relative;
  margin-bottom: 3rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.details_box {
  /* display: none; */
  /* border: 1px red solid; */
  position: absolute;
  right: 0;
  height: 100%;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  /* padding: 2rem; */
  width: 65%;
  height: 96%;
  top: 2%;
  overflow-y: scroll;
  transition: all 200ms;
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.control_bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.content {
  /* background-color: orange; */
  width: 100%;

  /* min-height: 10rem; */
  /* height: auto; */
}
