.request_item {
  display: grid;
  grid-template-columns: calc(33% - 0.5rem) calc(33% - 0.5rem) calc(
      33% - 0.5rem
    );
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  transition: all 300ms;
}
.request_item:hover {
  box-shadow: none;
}
.request_item p {
  margin: 1rem;
}

@media (max-width: 35em) {
  .request_item {
    grid-template-columns: 50% 50%;
  }
  .request_item > button {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0.5rem auto;
  }
}
/* @media (max-width: 80em) {
  .request_item {
    grid-template-columns: 33% 33% 33%;
  }
} */
