.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  margin-bottom: 3rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.container .statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--items-container);
  border-radius: var(--border-radius);
  box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.container .statistics > div {
  padding: 1rem;
  width: calc(50% - 3rem);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
@media (max-width: 50em) {
  .container .statistics {
    padding: 0.5rem;
  }
  .container .statistics > div {
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
  }
}
